* {
	margin: 0px;
	padding: 0px;
	font-size: 0;
}

.drag-highlight {
	box-shadow: 0 0 25px #ffff80;
}

.drag-hover-highlight {
	box-shadow: 0 0 50px #80ff80;
}

.drop-highlight {
	box-shadow: 0 0 25px #ffff80 inset;
}

.drop-hover-highlight {
	box-shadow: 0 0 25px #80ff80 inset;
}

.tile {
	display: inline-block;
	background-size: 100% 100%;
	z-index: 20;
}

.tile:hover:not(.drag-hover-highlight and .drop-hover-highlight) {
	box-shadow: 0 0 25px #ffff80 inset;
}

#field {
	width: 550px;
	height: 550px;
	position: absolute;
	left: 30%;
	margin: 50px;
	background-color: black;
}

#toolbox {
	height: 600px;
	width: 150px;
	position: absolute;
	margin: 35px 80px;
	padding: 15px;
	background-color: grey;
}

.toolnumber {
	margin-top: 20px;
	height: 93px;
	color: white;
	font-size: 20pt;
	padding-top: 40px;
	text-align: right;
	width: 30px;
	cursor: default;
	display: inline-block;
}

.tool {
	margin: 20px 0px 5px 0px;
	background-color: black;
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	z-index: 30;
	float: right;
}

#flow {
	font-size: 18pt;
	position: absolute;
	left: calc(30% + 50px + 175px);
	bottom: 25px;
	width: 200px;
	height: 50px;
}

.tilena {
	-webkit-filter: brightness(20%);
	-moz-filter: brightness(20%);
	filter: brightness(20%);
}

.tilenatext {
	color: red;
}

.immovable {
	-webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	filter: brightness(60%);
}

#tboverlay {
	height: 630px;
	width: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	z-index: -10;
	background-image: url(../images/trash-bin.png);
	background-size: 100%;
}

.ui-draggable-dragging {
	z-index: 35;
}

.acid {
	background-color: green;
}

.lava {
	background-color: orange;
}

.honey {
	background-color: yellow;
}

.flow {
	position: absolute;
	z-index: 30;
}