* {
	margin: 0px;
	padding: 0px;
	font-size: 0;
}

.tile {
	display: inline-block;
	background-size: 100% 100%;
}

.tile:hover {
	box-shadow: 0 0 25px #ffff80 inset;
}

#field {
	width: 550px;
	height: 550px;
	position: absolute;
	left: 30%;
	margin: 50px;
	background-color: black;
}

#toolbox {
	height: 600px;
	width: 150px;
	position: absolute;
	margin: 35px 80px;
	padding: 15px;
	background-color: grey;
}

.tooltext {
	margin-left: 25px;
	height: 20px;
	width: 70px;
	font-size: 12pt;
	display: inline-block;
}

.toolnumber {
	margin-left: 0;
	color: yellow;
	text-align: right;
	width: 30px;
}

.tool {
	margin: 20px 25px 5px;
	background-color: green;
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
}

#flow {
	font-size: 18pt;
	position: absolute;
	left: calc(30% + 50px + 175px);
	bottom: 25px;
	width: 200px;
	height: 50px;
}