* {
	margin: 0px;
	padding: 0px;
	font-size: 0;
}

.drag-highlight {
	animation: drag-highlight 2s ease-in-out infinite;
	cursor: grabbing;
}

@keyframes drag-highlight {
	0% {box-shadow: 0 0 20px #ffff80;}
	50% {box-shadow: 0 0 25px #ffff80;}
	100% {box-shadow: 0 0 20px #ffff80;}
}

.drag-hover-highlight {
	animation: drag-hover-highlight 2s ease-in-out infinite;
}

@keyframes drag-hover-highlight {
	0% {box-shadow: 0 0 20px #80ff80;}
	50% {box-shadow: 0 0 25px #80ff80;}
	100% {box-shadow: 0 0 20px #80ff80;}
}

.drop-highlight {
	animation: drop-highlight 2s ease-in-out infinite;
}

@keyframes drop-highlight {
	0% {box-shadow: 0 0 15px #ffff80 inset;}
	50% {box-shadow: 0 0 20px #ffff80 inset;}
	100% {box-shadow: 0 0 15px #ffff80 inset;}
}

.drop-hover-highlight {
	animation: drop-hover-highlight 2s ease-in-out infinite;
}

@keyframes drop-hover-highlight {
	0% {box-shadow: 0 0 20px #80ff80 inset;}
	50% {box-shadow: 0 0 25px #80ff80 inset;}
	100% {box-shadow: 0 0 20px #80ff80 inset;}
}

.tile {
	display: inline-block;
	background-size: 100% 100%;
	z-index: 20;
	position: relative;
}

.tile:HOVER:not(.highlighted) {
	animation: tile-hover-highlight 2s ease-in-out infinite;
}

@keyframes tile-hover-highlight {
	0% {box-shadow: 0 0 15px #ffff80 inset;}
	50% {box-shadow: 0 0 20px #ffff80 inset;}
	100% {box-shadow: 0 0 15px #ffff80 inset;}
}

#field {
	width: 550px;
	height: 550px;
	position: absolute;
	left: 30%;
	margin: 50px;
	background-color: black;
}

#toolbox {
	height: 600px;
	width: 150px;
	position: absolute;
	margin: 35px 80px;
	padding: 15px;
	background-color: grey;
	border-radius: 15px;
	border: solid 2px #444444;
}

.toolnumber {
	margin-top: 20px;
	height: 93px;
	color: white;
	font-size: 20pt;
	padding-top: 40px;
	text-align: right;
	width: 30px;
	cursor: default;
	display: inline-block;
}

.tool {
	margin: 20px 0px 5px 0px;
	background-color: black;
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	z-index: 30;
	float: right;
}

#startbutton {
	border-radius: 5px;
	font-size: 18pt;
	position: absolute;
	left: calc(30% + 50px + 175px);
	bottom: 25px;
	width: 200px;
	height: 50px;
}

#startbutton:not(:disabled) {
	color: white;
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C */
	border: outset 1px gray;
}

#startbutton:not(:disabled):active {
	background: linear-gradient(to bottom,#596a72 100%, #cedce7 0%); /* W3C */
}

#startbutton:not(:disabled):hover {
	box-shadow: 0 0 10px white inset;
}

#startbutton:disabled {
	color: black;
	background: gray;
	border: inset 1px gray;
}

.tool-disabled {
	/* TODO */
}

.tool-number-disabled {
	color: #ff6060;
}

.immovable::after {
	content: "";
	background-image: url(../images/immovable-overlay.png);
	background-size: 100% 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#tboverlay {
	height: 630px;
	width: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(../images/trash-bin.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.ui-draggable-dragging {
	z-index: 35;
}

.acid {
	background: #25ff25;
}

.lava {
	background: orange;
}

.honey {
	background: yellow;
}

.flow {
	position: absolute;
	z-index: 30;
}