#level-selection #options-button {
	top: 10px;
	left: 265px;
}

#level-selection #back-button {
	top: 10px;
	left: 30px;
}

#stage-id {
	font-size: 30px;
	position: absolute;
	bottom: 20px;
	left: 10px;
	color: white;
	text-align: center;
	width: 500px;
}

hr {
	width: 400px;
	position: absolute;
	left: 60px;
	bottom: 75px;
}

.game#level-selection {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(../images/splash.png);
	background-repeat: no-repeat;
	background-size: cover;
}