* {
	margin: 0px;
	padding: 0px;
	font-size: 0;
}

.tile {
	display: inline-block;
	background-size: 100% 100%;
}

.tile:hover, .tile-drag-highlight {
	box-shadow: 0 0 25px #ffff80 inset;
}

.tile-hover-highlight {
	box-shadow: 0 0 25px #80ff80 inset;
}

.tool-drag-highlight:not(.tool-drag-hover-highlight) {
	box-shadow: 0 0 25px #ffff80;
}

.tool-drag-hover-highlight {
	box-shadow: 0 0 50px #80ff80;
}

#field {
	width: 550px;
	height: 550px;
	position: absolute;
	left: 30%;
	margin: 50px;
	background-color: black;
}

#toolbox {
	height: 600px;
	width: 150px;
	position: absolute;
	margin: 35px 80px;
	padding: 15px;
	background-color: grey;
}

.tooltext {
	margin-left: 25px;
	height: 20px;
	width: 70px;
	font-size: 12pt;
	display: inline-block;
	cursor: default;
}

.toolnumber {
	margin-left: 0;
	color: yellow;
	text-align: right;
	width: 30px;
	cursor: default;
}

.tool {
	margin: 20px 25px 5px;
	background-color: black;
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	z-index: 10;
}

#flow {
	font-size: 18pt;
	position: absolute;
	left: calc(30% + 50px + 175px);
	bottom: 25px;
	width: 200px;
	height: 50px;
}

.tilena {
	-webkit-filter: brightness(20%);
	-moz-filter: brightness(20%);
	filter: brightness(20%);
}

.tilenatext {
	color: red;
}

.immovable {
	-webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	filter: brightness(60%);
}

#tboverlay {
	height: 630px;
	width: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	z-index: 10;
	background-image: url(../images/trash-bin.png);
}