.game {
	box-shadow: 0px 0px 0px 0px #F80 inset;
}

.ui-draggable-dragging {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

.ui-draggable-dragging:not(.drag-hover-highlight) {
	animation: drag-highlight 2s ease-in-out infinite;
}

@keyframes drag-highlight {
	0% {box-shadow: 0 0 20px #ffff80;}
	50% {box-shadow: 0 0 25px #ffff80;}
	100% {box-shadow: 0 0 20px #ffff80;}
}

.drag-hover-highlight {
	animation: drag-hover-highlight 2s ease-in-out infinite;
}

@keyframes drag-hover-highlight {
	0% {box-shadow: 0 0 20px #80ff80;}
	50% {box-shadow: 0 0 25px #80ff80;}
	100% {box-shadow: 0 0 20px #80ff80;}
}

.drop-highlight {
	animation: drop-highlight 2s ease-in-out infinite;
}

@keyframes drop-highlight {
	0% {box-shadow: 0 0 15px #ffff80 inset;}
	50% {box-shadow: 0 0 20px #ffff80 inset;}
	100% {box-shadow: 0 0 15px #ffff80 inset;}
}

.drop-hover-highlight {
	animation: drop-hover-highlight 2s ease-in-out infinite;
}

@keyframes drop-hover-highlight {
	0% {box-shadow: 0 0 20px #80ff80 inset;}
	50% {box-shadow: 0 0 25px #80ff80 inset;}
	100% {box-shadow: 0 0 20px #80ff80 inset;}
}

.tile {
	display: inline-block;
	background-size: 100% 100%;
	position: relative;
}

.tutorial-rotate:after {
	content: "";
	background: url(../images/rotate.png) no-repeat;
	background-position: center;
	background-size: 75% 75%;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.7;
	/*animation: rotate-icon 4s linear infinite;*/
}

@keyframes rotate-icon {
	0% {transform: none}
	25% {transform: rotate(90deg)}
	50% {transform: rotate(180deg)}
	75% {transform: rotate(270deg)}
	100% {transform: rotate(360deg)}
}

.tile:not(.ui-draggable-dragging) {
	z-index: 20;
}

.tile.ui-draggable-dragging {
	z-index: 35;
}

.tile:not(.highlighted):not(.ui-draggable-dragging):not(.drop-hover-highlight):HOVER {
	animation: tile-hover-highlight 2s ease-in-out infinite;
}

@keyframes tile-hover-highlight {
	0% {box-shadow: 0 0 15px #ffff80 inset;}
	50% {box-shadow: 0 0 20px #ffff80 inset;}
	100% {box-shadow: 0 0 15px #ffff80 inset;}
}

#field {
	position: absolute;
	background-color: #262626;
	border: 10px ridge #6E3923;
}

#space {
	width: 520px;
	height: 520px;
	position: absolute;
	left: 300px;
	top: 80px;
	font-size: 0;
}

#levelheader {
	font-size: 24pt;
	color: white;
	position: absolute;
	top: 30px;
	left: 300px;
	width: 540px;
	text-align: center;
}

#toolbox {
	padding: 5px 15px 0px 5px;
	background-color: grey;
	border-radius: 15px;
	border: solid 2px #444444;
	width: 225px;
	height: 540px;
	left: 10px;
}

.toolnumber {
	margin: 15px 0px 15px 10px;
	height: 100px;
	width: 75px;
	color: white;
	font-size: 25pt;
	text-align: right;
	cursor: default;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.tool {
	margin: 15px 0px 15px 0px;
	background-color: black;
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	float: right;
	z-index: 30;
	box-sizing: border-box;
	border: 6px ridge #6E3923;
}

.tool.ui-draggable-dragging {
	border: none;
}

.tool.interactable:not(.ui-draggable-gragging):hover {
	animation: tile-hover-highlight 2s ease-in-out infinite;
}

#startbutton {
	border-radius: 5px;
	font-size: 18pt;
	position: absolute;
	left: 325px;
	bottom: 10px;
	width: 200px;
	height: 64px;
}

#startbutton:not(:disabled) {
	color: white;
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C */
	border: outset 1px gray;
}

#startbutton:not(:disabled):active {
	background: linear-gradient(to bottom,#596a72 100%, #cedce7 0%); /* W3C */
}

#startbutton:not(:disabled):hover {
	box-shadow: 0 0 10px white inset;
}

#startbutton:disabled {
	color: black;
	background: gray;
	border: inset 1px gray;
}

.tool-disabled {
	/* TODO */
}

.tool-number-disabled {
	color: #ff6060;
}

.immovable::after {
	content: "";
	background-image: url(../images/immovable-overlay.png);
	background-size: 100% 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#tboverlay {
	/*height: 630px;
	width: 180px;*/
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/trash-bin.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.acid {
	background: #00C800;
}

.lava {
	background: #FF6A00;
}

.honey {
	background: #FFE100;
}

.flow {
	position: absolute;
	z-index: 30;
}

.game.right {
	animation: right-animation 2s ease-in-out infinite;
}

@keyframes right-animation {
	0% {box-shadow: 0 0 5px #00ff00 inset;}
	50% {box-shadow: 0 0 15px #00ff00 inset;}
	100% {box-shadow: 0 0 5px #00ff00 inset;}
}

.game.wrong {
	animation: wrong-animation 2s ease-in-out infinite;
}

@keyframes wrong-animation {
	0% {box-shadow: 0 0 5px #ff0000 inset;}
	50% {box-shadow: 0 0 15px #ff0000 inset;}
	100% {box-shadow: 0 0 5px #ff0000 inset;}
}

.event-blocker {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.to-level-selection-button, .continue-button {
	width: 200px;
	height: 120px;
	border-radius: 5px;
	background: black;
	color: white;
	position: absolute;
	font-size: 25px;
	top: 400px;
}

.to-level-selection-button:hover, .continue-button:hover {
	box-shadow: 0 0 10px white;
}

.to-level-selection-button:active, .continue-button:active {
	background: white;
	color: black;
}

.continue-button {
	left: 170px;
}

.to-level-selection-button {
	right: 170px;
}

#pointValueContainer {
	position: absolute;
	bottom: 10px;
	left: 550px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 10px;
}

#pointlValueDisplay {
	margin-right: 10px;
	margin-left: 5px;
	font-size: 24px;
	color: white;
}

#pointValueInfoIcon {
	width: 48px;
	height: 48px;
	background-image: url(../images/info.png);
	background-size: 100% 100%;
}