* {
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

body {
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: navy;
	box-sizing: border-box;
	height: 700px;
	width: 1000px;
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.arrow {
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 64px;
	height: 64px;
	top: calc(35% - 32px);
	right: 16px;
	z-index: 100;
}

.left {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	right: calc(40% - 32px);
	z-index: 100;
}

.combulix {
	background-image: url(../images/combulix.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 40%;
	height: 40%;
	top: 60%;
	right: -40%;
	z-index: 100;
}

.speech-bubble {
	background: #c0c0c0;
  	background-image: linear-gradient(to bottom, #c0c0c0, #8080ff);
	border-color: #408080;
	border-style: outset;
	border-width: 0px;
	border-radius: 50px;
	box-sizing: border-box;
	padding: 25px;
	cursor: default;
	font-size: 26px;
	position: absolute;
	width: 35%;
	height: 50%;
	top: calc(35% - 25%);
	right: 5%;
	z-index: 100;
}

.speech-bubble:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -90px;
  left: 80px;
  width: 0;
  border-width: 90px 25px 0;
  border-style: solid;
  border-color: #8080ff transparent;
}

#list {
	position: absolute;
	width: 50%;
	height: 90%;
	left: calc(34% - 25%);
	top: calc(50% - 45%);
	overflow: auto;
}

.item {
	width: calc(100% - 40px);
	height: calc(18% - 20px);
	font-size: 32px;
	padding: 20px;
	margin: 20px 20px 5px 20px;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  	border-radius: 15px;
}

.item.active {
  	background-image: -webkit-linear-gradient(top, #c0c0c0, #8080ff);
  	background-image: -moz-linear-gradient(top, #c0c0c0, #8080ff);
  	background-image: -ms-linear-gradient(top, #c0c0c0, #8080ff);
  	background-image: -o-linear-gradient(top, #c0c0c0, #8080ff);
  	background-image: linear-gradient(to bottom, #c0c0c0, #8080ff);
}

.item.active:HOVER {
	background-image: -webkit-linear-gradient(top, #e6e6e6, #aaaaff);
  	background-image: -moz-linear-gradient(top, #e6e6e6, #aaaaff);
  	background-image: -ms-linear-gradient(top, #e6e6e6, #aaaaff);
  	background-image: -o-linear-gradient(top, #e6e6e6, #aaaaff);
  	background-image: linear-gradient(to bottom, #e6e6e6, #aaaaff);	
}

.highlighted {
	animation: highlight-glow 1.5s ease-in-out infinite;
}

@keyframes highlight-glow {
	0% { box-shadow: 0 0 10px #ffff00 }
	50% { box-shadow: 0 0 20px #ffff00 }
	100% { box-shadow: 0 0 10px #ffff00 }
}


.interactable {
	cursor: pointer;
}

.non-interactable {
	cursor: not-allowed;
}

.active {
	background: #c0c0c0;
	border-style: outset;
	border-width: 2px;
	border-color: black;
	color: black;
	cursor: pointer;
}

.active:HOVER {
	background: #e6e6e6;
}

.item:not(.active) {
	background-color: #c0c0c0;
	color: #808080;
	border-style: inset;
	border-width: 1px;
	border-color: black;
	cursor: not-allowed;
}


/**
  * Danke an Omar Tariq von Stackoverflow: http://stackoverflow.com/questions/9249359/is-it-possible-to-vertically-align-text-within-a-div.
  */
.centered-text {

	/* Internet Explorer 10 */
	display: -ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	
	/* Firefox */
	display: -moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	/* Safari, Opera, and Chrome */
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* W3C */
	display: box;
	box-pack:center;
	box-align:center;
	
	text-align: center;

}

.menu-button {
	position: absolute;
}

#options-button {
	background-image: url(../images/settings.png);
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.screen-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 100;
}

.popup-content-container {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	background-color: gray;
	z-index: 90;
	border-style: outset;
	border-width: 2px;
	border-color: black;
}

.close-button {
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 64px;
	height: 64px;
	position: absolute;
	z-index: 100;
	right: calc(10% - 24px);
	top: calc(10% - 24px);
}

#back-button {
	background-image: url(../images/back.png);
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}