/* Generelle Einstellungen des Spielfensters */
* {
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	cursor: default;
}

#window {
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%);
	box-sizing: border-box;
	height: 700px;
	width: 1000px;
}

.game {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border-style: ridge;
	border-width: 5px;
	border-color: #808080;
	box-sizing: border-box;
}

/* Sterne für die Bewertungsanzeige */
.star-full {
	background-image: url(../images/star_full.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.star-half {
	background-image: url(../images/star_half.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.star-empty {
	background-image: url(../images/star_empty.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* Verhindert das Markieren innerhalb des Spielfelds */
.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Pfeile für Combulix' Dialoge */
.arrow {
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 64px;
	height: 64px;
	border-radius: 5px;
	position: absolute;
	top: calc(35% - 32px);
	right: 16px;
	z-index: 99;	
}

.arrow.left {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	right: calc(40% - 32px);
	z-index: 99;
}

/* Combulix' Porträt */
.combulix {
	background-image: url(../images/combulix.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 300px;
	height: 300px;
	bottom: 0%;
	right: -40%;
	z-index: 99;
}

/* Combulix' Sprechblase */
.speech-bubble {
	background: #c0c0c0;
  	background-image: linear-gradient(to bottom, #c0c0c0, #8080ff);
	border-color: #408080;
	border-style: outset;
	border-width: 0px;
	border-radius: 50px;
	box-sizing: border-box;
	padding: 25px 25px 25px 35px;
	font-size: 22px;
	position: absolute;
	width: 35%;
	height: 50%;
	top: calc(35% - 25%);
	right: 5%;
	z-index: 99;
}

.speech-bubble:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -90px;
  left: 80px;
  width: 0;
  border-width: 90px 25px 0;
  border-style: solid;
  border-color: #8080ff transparent;
}

/* Bereichs- und Levelauswahl */
#list {
	overflow: auto;
	width: 500px;
	height: 525px;
	left: 10px;
	border-radius: 15px;
}

/* Einzelnes Bereichs- oder Level-Element */
.item {
	width: calc(100% - 40px);
	height: calc(23.5% - 20px);
	font-size: 32px;
	padding: 20px;
	margin: 20px 20px 5px 20px;
	float: left;
	box-sizing: border-box;
	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  	border-radius: 15px;
  	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-text {
	display: inline-block;
}

/* Stern für die Gesamtanzahl im Bereich/Spiel */
.score-icon {
	width: 40px;
	height: 40px;
}

/* Anzeige der 5-Sterne-Skala */
.rating-display {
	width: 40px;
	height: 40px;
	float: left;
	display: inline-block;
}

.rating-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 5px;
}

.rating-text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	height: 100%;
	font-size: 28px;
}

/* Interaktions-Designs für Bereichs- / Level-Elemente */
.item.active {
  	background-image: -webkit-linear-gradient(top, #c0c0c0, #8080ff);
  	background-image: -moz-linear-gradient(top, #c0c0c0, #8080ff);
  	background-image: -ms-linear-gradient(top, #c0c0c0, #8080ff);
  	background-image: -o-linear-gradient(top, #c0c0c0, #8080ff);
  	background-image: linear-gradient(to bottom, #bfccff 0%,#a4bcf4 17%,#6a82e2 68%,#7a8bef 71%,#9198ea 82%,#abb6f4 95%,#bac6fc 100%);
}

.item.active:HOVER {
	background-image: -webkit-linear-gradient(top, #e6e6e6, #aaaaff);
  	background-image: -moz-linear-gradient(top, #e6e6e6, #aaaaff);
  	background-image: -ms-linear-gradient(top, #e6e6e6, #aaaaff);
  	background-image: -o-linear-gradient(top, #e6e6e6, #aaaaff);
  	background-image: linear-gradient(to bottom, #d4dbfa 0%,#ccd2f4 5%,#babeec 18%,#acb6ee 31%,#a1aee5 32%,#c6d4f4 83%,#d8dffc 100%);
}

.item.active:ACTIVE:HOVER {
	border-style: inset;
}

/* Glow für Highlight des Tutorials */
.highlighted {
	animation: highlight-glow 1.5s ease-in-out infinite;
}

@keyframes highlight-glow {
	0% { box-shadow: 0 0 10px #ffff00 }
	50% { box-shadow: 0 0 20px #ffff00 }
	100% { box-shadow: 0 0 10px #ffff00 }
}

/* Cursor-Modifikationen */
.interactable:not(.ui-draggable-dragging), .interactable:not(.ui-draggable-draggin) * {
	cursor: pointer;
}

.non-interactable, .non-interactable *{
	cursor: not-allowed;
}

/* Generelle Settings für Listen-Items (Verfügbar/Nicht verfügbar) */
.active {
	background: #c0c0c0;
	border-style: outset;
	border-width: 2px;
	border-color: darkgrey;
	color: black;
}

.active, .active * {
	cursor: pointer;
}

.active:HOVER {
	background: #e6e6e6;
}

.item:not(.active) {
	background-color: #c0c0c0;
	color: #808080;
	border-style: inset;
	border-width: 1px;
	border-color: darkgrey;
}

.item:not(.active), .item:not(.active) * {
	cursor: not-allowed;
}

.centered-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Buttons "Zurück" und "optionen" */
.menu-button {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 64px;
	width: 225px;
	left: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	border-style: outset;
	background-image: linear-gradient(to bottom, #fff, #909090);
}

#options-icon, #back-icon {
	width: 64px;
	background-repeat: no-repeat;
	background-size: cover;
	left: 0;
	top: 0;
	margin-left: 10px;
}

.button-text {
	font-size: 24px;
	margin-left: 20px;
	margin-right: 20px;
	position: absolute;
	right: 20px;
	top: 15px;
}

#options-icon {
	background-image: url(../images/settings.png);
}

#back-icon {
	background-image: url(../images/back.png);
}

#options-icon, #back-icon {
	width: 56px;
	height: 56px;
}

#options-button {
	bottom: 10px;
}

#back-button {
	top: 10px;
}

/* Overlay bei Popups */
.screen-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 100;
}

/* Popup-Fenster an sich */
.popup-content-container {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	background-image: linear-gradient(to bottom, #909090, #505050);
	z-index: 90;
	border-style: ridge;
	border-width: 5px;
	border-color: gray;
	border-radius: 10px;
}

/* Popup-Schließen-Button */
.close-button {
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 64px;
	height: 64px;
	position: absolute;
	z-index: 100;
	right: calc(10% - 24px);
	top: calc(10% - 24px);
}

#toolbox, #list {
	box-sizing: border-box;
	position: absolute;
	top: 80px;
}

/* Optionsmenü */
#options-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.option-container {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 15px;
	border-radius: 10px;
	border-style: outset;
	background-image: linear-gradient(to bottom, #fff, #909090);
	width: 50%;
}

.option-container:ACTIVE:HOVER, #options-button:ACTIVE:HOVER, #back-button:ACTIVE:HOVER {
	border-style: inset;
	background-image: linear-gradient(to bottom, #909090, #fff);
}

.option-container:HOVER, #options-button:HOVER, #back-button:HOVER {
	box-shadow: 0 0 20px 10px white inset;
}

.option-icon {
	background-size: 100% 100%;
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

.option-text {
	font-size: 32px;
}

.option-container.off .option-text {
	text-decoration: line-through;
}

.option-container.off .option-icon {
	background-image: url(../images/muted.png);
}

.option-container:not(.off) .option-icon {
	background-image: url(../images/unmuted.png);
}

/* Linie zwischen Bereichs-/Levelliste und Bewertungsstern */
hr {
	height: 2px;
	border: 0;
	background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.75) 30%, rgba(255,255,255,0.75) 70%, rgba(0,0,0,0));
}