/* Eingabe des Spielernamens */
input {
	position: absolute;
	font-size: 48px;
}

#playerName_input {
	left: calc(50% - 200px);
	top: calc(50% - 20px);
	width: 400px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	cursor: auto;
	background-color: #fff;
	box-shadow: 0px 0px 0px 0px #F80 inset;
	border: solid 1px black;
	border-radius: 2px;
}

/* Button zum Betreten des Spiels */
#continue {
	left: calc(50% - 100px);
	top: calc(70% - 50px);
	width: 200px;
	height: 100px;
	border-radius: 10px;
	border-style: outset;
	background-image: linear-gradient(to bottom, #fff, #909090);
}

#continue:ACTIVE:HOVER {
	border-style: inset;
	background-image: linear-gradient(to bottom, #909090, #fff);
}

#continue:HOVER {
	box-shadow: 0 0 20px 10px white inset;
}

/* Überschrift */
#title {
	position: absolute;
	top: 25%;
	font-size: 64px;
	font-family: Perpetua;
	font-weight: bold;
	width: 100%;
	text-shadow: 3px 3px 3px #555;
}

/* Versionsnummer */
#version {
	font-size: 14px;
	position: absolute;
	right: 10px;
	bottom: 14px;
	color: #757575;
}