#stage-selection #options-button {
	top: 10px;
	left: 265px;
}

#stage-selection #back-button {
	top: 10px;
	left: 30px;
}

#total-score-positioner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 7.5px;
	left: 10px;
	width: 500px;
}

#total-score-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 15px;
}

#total-score {
	font-size: 30px;
	color: white;
	margin-right: 10px;
}

#total-score-icon {
	width: 48px;
	height: 48px;
}

hr {
	width: 400px;
	position: absolute;
	left: 60px;
	bottom: 75px;
}